<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Loading data with Pandas

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Use Pandas to access and view data

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="#About-the-Dataset">About the Dataset</a></li>
        <li><a href="#Introduction-of-Pandas">Introduction of <code>Pandas</code></a></li>
        <li><a href="#Viewing-Data-and-Accessing-Data">Viewing Data and Accessing Data</a></li>
        <li><a href="#Quiz-on-DataFrame">Quiz on DataFrame</a></li>
    </ul>

</div>

<hr>

## About the Dataset

The table has one row for each product and several columns.

<ul>
    <li><b>OrderID</b>: A unique identifier for each order</li>
    <li><b>Product</b>: The name of the product purchased</li>
    <li><b>Category</b>: The category to which the product belongs (e.g., Electronics, Furniture, Stationery)</li>
    <li><b>Quantity</b>: The number of units purchased for that product</li>
    <li><b>Price</b>: The price per unit of the product</li>
    <li><b>Total</b>: The total cost for the product (calculated as Quantity × Price)</li>
    <li><b>OrderDate</b>: The date when the order was placed</li>
    <li><b>CustomerCity</b>: The city where the customer resides</li>
    
</ul>

You can see the dataset here:

<font size="1">
<table style="font-size:medium; border:1px solid black; border-collapse:collapse;">
  <tr>
    <th>OrderID</th>
    <th>Product</th>
    <th>Category</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
    <th>OrderDate</th>
    <th>CustomerCity</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Laptop</td>
    <td>Electronics</td>
    <td>2</td>
    <td>800</td>
    <td>1600</td>
    <td>2022-01-10</td>
    <td>New York</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Smartphone</td>
    <td>Electronics</td>
    <td>3</td>
    <td>600</td>
    <td>1800</td>
    <td>2022-02-15</td>
    <td>Los Angeles</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Desk Chair</td>
    <td>Furniture</td>
    <td>5</td>
    <td>150</td>
    <td>750</td>
    <td>2022-03-12</td>
    <td>Chicago</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Notebook</td>
    <td>Stationery</td>
    <td>10</td>
    <td>2</td>
    <td>20</td>
    <td>2022-04-05</td>
    <td>Houston</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Monitor</td>
    <td>Electronics</td>
    <td>1</td>
    <td>300</td>
    <td>300</td>
    <td>2022-05-21</td>
    <td>Miami</td>
  </tr>
</table>
</font>

<hr>

## Introduction of <code>Pandas</code>

# Pandas is an open-source Python library primarily used for data manipulation and analysis. especially tabular data (rows and columns like in Excel).
# It provides powerful and flexible data structures, particularly the 
# DataFrame and Series, which are designed to handle structured (tabular) and time-series data efficiently.

In [1]:
# Dependency needed to install file 

%pip install xlrd openpyxl

Collecting xlrdNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: xlrd, et-xmlfile, openpyxl

   ---------------------------------------- 0/3 [xlrd]
   ---------------------------------------- 0/3 [xlrd]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   -------------------------- ------------- 2/3 [openpyxl]
   ---------------------------------------- 3/3 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5 xlrd-2.0.2

In [2]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [4]:
!pip install pyodide

Collecting pyodide
  Downloading pyodide-0.0.2.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [7 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 35, in <module>
        File "C:\Users\Harsh Patel\AppData\Local\Temp\pip-install-ja8nbjx4\pyodide_1a52714b7b42413fb42fe0bb2c8effe7\setup.py", line 7, in <module>
          raise ValueError(
      ValueError: Pyodide is a Python distribution that runs in the browser or Node.js. It cannot be installed from PyPi.
                  See https://github.com/pyodide/pyodide for how to use Pyodide.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [3]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/LXjSAttmoxJfEG6il1Bqfw/Product-sales.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/LXjSAttmoxJfEG6il1Bqfw/Product-sales.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Product-sales.csv")
df = pd.read_csv("Product-sales.csv")

ModuleNotFoundError: No module named 'pyodide'

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface. While working on the downloaded version of this notebook on their local machines, the learners can simply **skip the steps above**, and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/LXjSAttmoxJfEG6il1Bqfw/Product-sales.csv"
df = pd.read_csv(filename)

In [5]:
df = pd.read_csv('Product_sales.csv')

In [6]:
df.to_csv('my_data.csv')

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [7]:
# Print first five rows of the dataframe

df.head(2)

,OrderID,Product,Category,Quantity,Price,Total,OrderDate,CustomerCity
0,1,Laptop,Electronics,2,800,1600,2022-01-10,New York
1,2,Smartphone,Electronics,3,600,1800,2022-02-15,Los Angeles

In [8]:
print(df.index)
print(df.index.tolist())

RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [9]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n9LOuKI9SlUa1b5zkaCMeg/Product-sales.xlsx'

#await download(xlsx_path, "Product-sales.xlsx")
df = pd.read_excel(xlsx_path)
#df = pd.read_excel("Product-sales.xlsx")
df.head()

,OrderID,Product,Category,Quantity,Price,Total,OrderDate,CustomerCity
0,1,Laptop,Electronics,2,800,1600,2022-01-10,New York
1,2,Smartphone,Electronics,3,600,1800,2022-02-15,Los Angeles
2,3,Desk Chair,Furniture,5,150,750,2022-03-12,Chicago
3,4,Notebook,Stationery,10,2,20,2022-04-05,Houston
4,5,Monitor,Electronics,1,300,300,2022-05-21,Miami

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface. While working on the downloaded version of this notebook on their local machines, the learners can simply **skip the steps above**, and simply use the URL directly in the `pandas.read_excel()` function. You can uncomment and run the statements in the cell below.

In [10]:
#xlsx_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n9LOuKI9SlUa1b5zkaCMeg/Product-sales.xlsx'
#df = pd.read_excel(xlsx_path)
#df.head()

We can access the column <b>Quantity</b> and assign it a new dataframe <b>x</b>:

In [11]:
# Access to the column Length

#x = df[['Quantity']]
#x
x = df['Quantity']
x

0     2
1     3
2     5
3    10
4     1
Name: Quantity, dtype: int64

The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/CHIJ1eh6tYUzFsmgQIuCSA/1.PNG" width="1150">

<hr>

## Viewing Data and Accessing Data

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [12]:
# Get the column as a series

x = df[['Product']]
type(x)

pandas.core.frame.DataFrame

You can also get a column as a dataframe. For example, we can assign the column <b>Quantity</b>:

In [13]:
# Get the column as a dataframe

x = df[['Quantity']]
type(x)

pandas.core.frame.DataFrame

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [14]:
# Access to multiple columns

y = df[['Product','Category', 'Quantity']]
y

      Product     Category  Quantity
0      Laptop  Electronics         2
1  Smartphone  Electronics         3
2  Desk Chair    Furniture         5
3    Notebook   Stationery        10
4     Monitor  Electronics         1

The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/BiDzVOrMQbianIz9DMum7A/2.PNG" width="1100">

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [15]:
# Access the value on the first row and the first column

df.iloc[0, 0]

np.int64(1)

You can access the 2nd row and the 1st column as follows:

In [16]:
# Access the value on the second row and the first column

df.iloc[1,0]

np.int64(2)

You can access the 1st row and the 3rd column as follows:

In [17]:
# Access the value on the first row and the third column

df.iloc[0,2]

'Electronics'

In [18]:
# Access the value on the second row and the third column
df.iloc[0,2]

'Electronics'

This is shown in the following image

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/npw0rMu2hutg8MdOz4t_Kw/3.PNG" width="750">

You can access the column using the name as well, the following are the same as above:

In [19]:
# Access the column using the name

df.loc[0, 'Product']

'Laptop'

In [20]:
# Access the column using the name

df.loc[1, 'Product']

'Smartphone'

In [21]:
# Access the column using the name

df.loc[1, 'CustomerCity']

'Los Angeles'

In [22]:
# Access the column using the name

df.loc[1, 'Total']

np.int64(1800)

In [23]:
df[(df['Quantity']>=5)&(df['Price']>=150)]

,OrderID,Product,Category,Quantity,Price,Total,OrderDate,CustomerCity
2,3,Desk Chair,Furniture,5,150,750,2022-03-12,Chicago

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/TR4-yEJdBj9NyQa5rlL6mg/4.PNG" width="750">

You can perform slicing using both the index and the name of the column:

In [24]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

   OrderID     Product     Category
0        1      Laptop  Electronics
1        2  Smartphone  Electronics

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/iyo_KV6ejpqgDxCcd3M1wg/5.PNG" width="950">

In [25]:
# Slicing the dataframe using name

df.loc[0:2, 'OrderID':'Category']

   OrderID     Product     Category
0        1      Laptop  Electronics
1        2  Smartphone  Electronics
2        3  Desk Chair    Furniture

# Filtering & Conditions

In [26]:
 df[df['Price'] >= 300] 

 #df[(df['Price'] > 300) & (df['Quantity']> 5)] 

 #df[(df['Price'] > 300) | (df['Quantity']> 5)]

,OrderID,Product,Category,Quantity,Price,Total,OrderDate,CustomerCity
0,1,Laptop,Electronics,2,800,1600,2022-01-10,New York
1,2,Smartphone,Electronics,3,600,1800,2022-02-15,Los Angeles
4,5,Monitor,Electronics,1,300,300,2022-05-21,Miami

In [27]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['NY', 'LA', 'Chicago', 'Houston'],
    'Salary': [50000, 60000, 75000, 90000]
}

df = pd.DataFrame(data)

#df['Bonus'] = df['Salary'] * 0.1
#df
#df.at[0, 'Age'] = 26
#df
df.rename(columns={'Name':'Full Name'},inplace=True)
df
#new_rows_df = pd.DataFrame({'Full Name': ['Hery'], 'Age': [28], 'City':['Bosten'], 'Salary':[55000]})
#df = pd.concat([df, new_rows_df], ignore_index=True)
print(df)

  Full Name  Age     City  Salary
0     Alice   25       NY   50000
1       Bob   30       LA   60000
2   Charlie   35  Chicago   75000
3     David   40  Houston   90000

# Modification

| Method         | Example                                                 |
| -------------- | ------------------------------------------------------- |
| Add column     | `df['Bonus'] = df['Salary'] * 0.1`                      |
| Update value   | `df.at[0, 'Age'] = 26`                                  |
| Rename columns | `df.rename(columns={'Name':'Full Name'}, inplace=True)` |
| Drop column    | `df.drop('Bonus', axis=1, inplace=True)`                |
| Drop row       | `df.drop(2, axis=0, inplace=True)`                      |

# Descriptive Statistics
| Method            | Description                       | Example                     |
| ----------------- | --------------------------------- | --------------------------- |
| `describe()`      | Summary stats for numeric columns | `df.describe()`             |
| `mean()`          | Column mean                       | `df['Salary'].mean()`       |
| `sum()`           | Column sum                        | `df['Salary'].sum()`        |
| `max()` / `min()` | Max / Min values                  | `df['Age'].max()`           |
| `value_counts()`  | Frequency of values               | `df['City'].value_counts()` |

# Grouping & Aggregation

# df.groupby('City')['Salary'].mean()

# df.groupby('City').agg({'Salary':'sum', 'Age':'max'})

In [28]:
#df.groupby('City')['Salary'].mean()
df.groupby('City').agg({'Salary':'sum', 'Age':'max'})

         Salary  Age
City
Chicago   75000   35
Houston   90000   40
LA        60000   30
NY        50000   25

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/88vCcZQ8N4W_R7WyKoqoAA/6.PNG" width="750">

<hr>

## Quiz on DataFrame

Use a variable <code>q</code> to store the column <b>Price</b> as a dataframe

In [29]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
q = df[['Price']]
q
    
```

</details>

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Product</b> and <b>Category</b>:

In [30]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
q = df[['Product', 'Category']]
q
    
```

</details>

Access the 2nd row and the 3rd column of <code>df</code>:

In [31]:
# Write your code below and press Shift+Enter to execute

<details><summary>Click here for the solution</summary>

```python
df.iloc[1, 2]
    
```

</details>

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'CustomerCity'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'CustomerCity'</code>

In [32]:
new_index=['a','b','c','d','e']
df_new=df
df_new.index=new_index
df_new.loc['a', 'CustomerCity']
df_new.loc['a':'d', 'CustomerCity']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements

<details><summary>Click here for the solution</summary>

```python
df_new=df
df_new.index=new_index
df_new.loc['a', 'CustomerCity']
df_new.loc['a':'d', 'CustomerCity']
    
```

</details>

<hr>
<h2>The last exercise!</h2>
<p>Congratulations, you have completed your first lesson and hands-on lab in Python. 
<hr>

## Authors:

[Joseph Santarcangelo](https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)

Joseph Santarcangelo has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>

<!--## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2023-11-02 | 2.2 | Abhishek Gagneja | Instructions updated |
| 2022-01-10        | 2.1     | Malika     | Removed the readme for GitShare    |
| 2020-08-26        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |
| 2020-11-24        | 3.0     | Nayef      | Added new images                   |
|                   |         |            |                                    |

<hr/>
--!>

# Automobile Dataset

In [ ]:
import pandas as pd
df=pd.read_csv('Automobile_data.csv')
df

Exercise 1: From the given dataset print the first and last five rows

In [ ]:
df.head(5)
df.tail(5)

#Exercise 2: Clean the dataset and update the CSV file
Replace all column values which contain ?, n.a, or NaN.

In [ ]:
import numpy as np
df=df.replace(['?', 'n.a'], np.nan)  # Convert to NaN first
df=df.fillna(0)

In [ ]:
df

Exercise 3: Find the most expensive car company name

In [ ]:
df = df [['company','price']][df.price==df['price'].max()]
df

Exercise 4: Print All Toyota Cars details

In [ ]:
df=pd.read_csv('Automobile_data.csv')
car_Manufacturers = df.groupby('company')
toyotaDf = car_Manufacturers.get_group('toyota')
toyotaDf

Exercise 5: Count total cars per company

In [ ]:
df['company'].value_counts()

Exercise : Find the most expensive cars price of each company name

In [ ]:
df.groupby('company')['price'].max()

Exercise 7: Find the average mileage of each car making company

In [ ]:
df.groupby('company')['average-mileage'].mean()